*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;  
}

body{
    font-size: 16px;
    color: #333;
    background-color: #a1c3ff;
}

img{
    max-width: 100%;
}

ul, li{
    list-style: none;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}